
.tile-pkg {
  border: 2px solid #f2f2f2;
  padding: 80px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .tile-pkg {
    margin-bottom: 3.5em;
  }
}
.tile-pkg figure {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: block;
  margin-bottom: 50px;
}
.tile-pkg figure img {
  width: 120px;
  padding-bottom: 10px;
}
.tile-pkg h3 {
  margin-bottom: 0px;
  padding-top: 10px;
}
.tile-pkg .pkg-summary {
  color: #7a7a7a;
  display: block;
  margin-bottom: 30px;
}

.social li a i {
  font-size: 33px;
  color: #7a7a7a;
}

.social li a:hover {
  background: #dfdfdf !important;
}